THIS FILE DESCRIBE ALL REQUIREMENTS FOR REST_PROGRAM START

=======================================PYTHON==================================
    1.  $ pip install Flask
    2.  $ pip install requests
    3.  $ pip install pyopenssl
    4.  Install not for Python 2.7 Json Web Token -> pip install pyjwt==1.4.2
        Before installation uninstall old jwt and pyjwt
        Run:
            $ pip uninstall jwt
            $ pip uninstall pyjwt
            $ pip install pyjwt==1.4.2

??? 5.  $ pip install -U requests[security]


=========================================OS====================================
    1. Install openssl
        $ sudo apt-get install openssl
